/*-------------Styles del menú lateral------------------*/

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    
}


.wrapper {
    display: flex;
}

.main {
    display: flex;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: var(--color--secundario);
    
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: var(--color--terciario);
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    z-index:1;
    width: 260px;
    min-width: 260px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid var(--color--primario);
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}



/*------------Styles de container y formularios--------*/


h1 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 8px 16px;
    background-color: var(--color--primario);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: var(--color--primario);
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--color--secundario);
}

input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: var(--color--primario);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--color--terciario);
}

input[type="Password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--color--secundario);

}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--color--secundario);

}

input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--color--secundario);

}



/*--------------------*/
.contenido {
    margin-left: 220px; 
    display: flex;
    position: relative;
    
    
}

#direcciones-envio {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.account-details {
    width: 700px;
    height: 470px;
    margin: 20px auto;
    padding: 20px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--color--secundario);
    transition: transform 0.2s;

  }
  
  #editForm {
    width: 800px;
    height: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--color--secundario);
    transition: transform 0.2s;
  }


  #cardForm {
    width: 800px;
    height: 650px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--color--secundario);
    transition: transform 0.2s;
  }
  
  #addressForm {
    width: 800px;
    height: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--color--secundario);
    transition: transform 0.2s;

  }


  /*--------*/

  .card-item {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--color--secundario);
    transition: transform 0.2s;
  }

  .address-item {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--color--secundario);
    transition: transform 0.2s;

  }

.ButtonsConfig {
    border-radius: 10px;
}

.ButtonsConfig:hover {
    background-color: var(--color--yellow);
}

.formulario {

    margin-top: 30px;
}

#accountInfo {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--color--secundario);
    transition: transform 0.2s;
}

.alert {
    display: flex;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 100px;
    
    }

.btn-close {
    width: 5px;
    height: 5px;
    padding-left: 50px;
}

#neighborhood {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--color--secundario);
}



  
 /* Estilo general para el label del radio button */
.content-input {
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }
  
  /* Ocultar el radio button original */
  input[type="radio"] {
    display: none;
  }
  
  /* Estilo del círculo personalizado */
  .content-input::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: var(--color--secundario);
  }
  
  /* Estilo del círculo cuando el radio button está seleccionado */
  input[type="radio"]:checked + .content-input::before {
    background-color: var(--color--yellow);
    border-color: var(--color--yellow);
  }
  
  /* Estilo del punto interno cuando está seleccionado */
  .content-input::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color--secundario);
    opacity: 0;
  }
  
  input[type="radio"]:checked + .content-input::after {
    opacity: 1;
  }



  @media screen and (max-width: 1025px) {
    .contenido {
      margin-left: 50px;
      margin-top: 10px;
      width: 500px;
    }

    .account-details {

        width: 500px;


    }
    .formulario {

        width:500px ;
    }

    #accountInfo {
        width: 100%;
    }

    #editForm {
        width: 100%;
    }

    #cardList {
        width: 100%;
    }

    #cardForm {
        width: 100%;
    }

    #addressList {
        width: 100%;
    }

    #addressForm {
        width: 100%;
    }

    .alert {
        width: 100%;
    }

  }


@media screen and (max-width: 600px) {
    .contenido {
      margin-left: 10px;
      margin-top: 10px;
      width: 265px;
    }

    .account-details {

        width: 265px;


    }
    .formulario {

        width:265px ;
    }

    #accountInfo {
        width: 100%;
    }

    #editForm {
        width: 100%;
    }

    #cardList {
        width: 100%;
    }

    #cardForm {
        width: 100%;
    }

    #addressList {
        width: 100%;
    }

    #addressForm {
        width: 100%;
    }

    .alert {
        width: 100%;
    }

  }



  

