@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
}

a {
  text-decoration: none;
}
body {
  font-family: "poppins", sans-serif;
  background-color: #ddd;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cats{
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin:0;
    
}

.cats a {
    display: flex;
    width: 200px;
    padding: 0.5rem 1rem;
    border: solid 1px grey;
    background-color: #969696;
    color: #FFFF;
}

/* product start */
.products_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10%;
    justify-content: space-evenly;
  }
  
  .products {
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    width: 250px;
    overflow: hidden;
    height: 386px;
  }
  .pr_img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .content {
    padding: 0 1rem 1rem 1rem;
    z-index: 1;
    transform: translateY(0);
    transition: .17s ease-out;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .content .title {
    font-size: 20px;
    color: #000000;
    padding-top: 15px;
    margin: 0;
    
  }
  .content .release_date {
    color: #bdc3c7;
  }
  .content .price {
    
    padding-top: 10px;
    width: 100%;
    color: #E31B9F;
    font-size: 22px;
    font-weight: 700;
  }
  main{
    display: flex;
    width: 100%;
    background-color: #E4DDD3;
    min-height: 90vh;
    

  }
  .sidebar{
    min-width: 200px;
    background-color: #b4b3b3;
   
    

  }
  .containerCat{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
.star {
    font-size: 2vh;
    cursor: pointer;
    color: #ECAC44;
  }
   


  .cats a:hover{
    background-color: #696d72;
  }
  .cats a:focus{
    background-color: #696d72;
    border: inset #bdc3c7 2px;
  }

  @media only screen and (max-width: 990px){
    main{
        flex-direction: column;
    }
    .cats{
        flex-direction: row;
        overflow: scroll;
    }
    .containerCat{
        display: block;
    }
    .cats a{
        width: 135px;
        height: 55px;
        align-items: center;
    }


  }
  .products:hover .content{
    transform: translateY(-63px)
  }


  
  /* CSS */
  .button-33 {
    background-color: #ECAC44;
    border-radius: 100px;
    box-shadow: rgba(249, 69, 255, 0.2) 0 -25px 18px -14px inset,rgba(185, 44, 187, 0.15) 0 1px 2px,rgba(185, 44, 187, 0.15) 0 2px 4px,rgba(187, 44, 185, 0.15) 0 4px 8px,rgba(168, 44, 187, 0.15) 0 8px 16px,rgba(185, 44, 187, 0.15) 0 16px 32px;
    color: rgb(167, 19, 157);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 85px;
  }
  
  .button-33:hover {
    box-shadow: rgba(156, 60, 171, 0.297) 0 -25px 18px -14px inset,rgba(187, 44, 187, 0.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(165, 44, 187, 0.25) 0 4px 8px,rgba(185, 44, 187, 0.25) 0 8px 16px,rgba(165, 44, 187, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  .btnproducto{
    display: flex;
    justify-content: space-around;
  }
  .artesanos{
    margin:0;
    color: #000000;
  }
  .button-33 svg{
    width: 1.5em;
    height: 1.5em;
    color: #3d012f;
    
  }